*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header and navigation styles */
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* Text er colour choose */
.text-primary{
    color: FD6E0A;
} 
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* button */
.btn-primary{
    height: 64px;
    color: #ffffff;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 18px 35px;
}
nav ul{
    align-items: center;
}
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-title{
    font-weight: 800;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 5px;
    color: gray;
}
.banner-description{
    color: dimgray;
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */
.about{
    margin-top: 131px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;
}
.Section-title{
     text-align: center; 
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}
.Section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* info styles */
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-weight: lighter;
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.what-i-do{
    margin-top: 132px;
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 10px;
}
.skill{
    background: #ffffff;
    border-radius: 5px;
    padding: 33px;
    box-shadow: 0px 6px 50px #ffffff;
}
.skill-title{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.skill-description{
    font-size: 16px;
    color: #757575;
}
/* resume section */
.resume{
    margin-top: 130px;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-title{
    font-size: 25px;
    margin-top: 80px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 47px;
}
.title{
    color: #474747;
    font-weight: bold;
    font-size: 25px;
}
.sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.description{
    color: #757575;
    font-size: 16px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* form and contact styles */
.contact{
    display: flex;
    background: #FFF8F3;
    gap: 115px;
    padding: 130px 170px;
    margin-top: 130px;
}
.contact .Section-title{
    text-align: left;
    font-weight: bold;
    font-size: 35px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px; 
    /* border: 2px solid red; */
}
input{
    height: 64px;
    /* border: 2px solid blue; */
}
.Para-description{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #474747;
    font-size: 16px;
}
.contact a{
    text-decoration: none;
     /* margin-left: 35px;  */
     padding-right: 24px; 
}